body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

header > ul{
    list-style: none;
    display: inline-flex;
}

.nav-item{
    margin: 10px;
}

main {
  grid-column: 1 / span 3;

}

aside {
  grid-column: span 2;
}

@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }

}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
main,
aside,
footer {
  background: #eaeaea;
  align-items: center;
  justify-content: center;
   padding: 10px;
}

