{% extends 'app_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>appointments</h2>

<!-- details table -->
   <div class="row">
    <div class="col-md-12 table-responsive">
    <div class="common-table">
     <table class="table my-pagination">
      <thead>
       <tr class="tr-head">
        <th>Sl.No</th>
        <th>Patients Name</th>
           <th>email</th>
         <th>Time</th>
        <th>Accepted</th>
       </tr>
      </thead>

      <tbody>
      {% if appointments %}
          {% for doc in appointments %}
      <tr class="tr-body">
        <td>{{forloop.counter}}</td>
        <td>{{doc.patients.first_name}} {{doc.patients.last_name}}</td>
          <td>{{doc.patients.email}}</td>
        <td>{{doc.date}} {{doc.time}}</td>
        <td>

            {% if doc.is_accepted %}
                <a href="/doctors/appointments/{{doc.pk}}?accept=false">cancel</a>
            {% else %}
                <a href="/doctors/appointments/{{doc.pk}}?accept=true">accept</a>
            {% endif %}
        </td>

<!--        <td><a href="/doctors/appointments/create/{{doc.pk}}" >select</a></td>-->
      </tr>
       {% endfor %}
       {% else %}
       <tr class="no-data">
        <td colspan="20">No Data</td>
       </tr>
       {% endif %}
      </tbody>

      <tfoot></tfoot>
     </table>
     </div>
   </div>
  </div>
  <!-- /details table -->

{% endblock %}
